* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Proxima Nova", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Roboto Condensed", sans-serif;
}



/* Общий контейнер */
.coner {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    /* Убирает любые выступающие части */
}

/* Полукруг */
.curve {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: 40px;
    /* Высота полукруга */
    background-color: #fff;
    /* Цвет полукруга */
    border-radius: 50%;
    /* Создает круг */
    transform: translateY(-50%);
    /* Сдвигает полукруг вверх на половину своей высоты */
}

footer::before {
    position: absolute;
    content: '';

    left: 0;
    width: 100%;
    height: 50px;
    /* Высота полукруга */
    background-color: #fff;
    /* Цвет полукруга */
    border-radius: 50%;
    /* Создает круг */
    transform: translateY(-50%);
}

/* Прямоугольник */
header::before {
    position: absolute;
    content: '';
    top: 180px;
    width: 100%;
    height: 100px;
    /* Высота прямоугольника */
    background-color: #7F7F7F;
    /* Цвет прямоугольника */
    z-index: -1;

}

h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #000;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 121%;
    color: #000;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 102%;
    color: #3f4142;
}

.burger {
    width: 26px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.hMenu {
    max-width: 1032px;
    min-height: 70px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 20px;
}

/* header {
    position: absolute;
    z-index: 999;
    top: 0;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;


} */
.headContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    min-height: 192px;
}

.headSecContainer {
    width: 235px;
    gap: 19px;
    display: flex;
    flex-direction: column;

}

.headSec {
    display: flex;
    align-items: center;
}

.headSec p {
    margin-left: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #484747;
}

.headSec img {
    margin-right: 16px;
}

.headEndCont {
    width: 267px;
    display: flex;
    align-items: end;
    gap: 11px;
    flex-direction: column;
}

.headEndCont p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #5a523c;
}

.headBt {
    width: 168px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #fff;
    border-radius: 25px;
    width: 166px;
    height: 29px;
    border-radius: 25px;
    width: 166px;
    height: 29px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: #484747;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schCont {
    display: flex;
}

.sch {
    border-radius: 22px;
    width: 150px;
    height: 29px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    line-height: 110%;
    color: #5a523c;
    padding: 7px;
}

.logoBox {
    display: flex;
    width: 467px;
    align-items: center;

}

.logoBox img {
    width: 100px;
    height: 100px;
}


.logoBox p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 102%;
    color: #323232;

}

header nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #7F7F7F;
    list-style: none;
    z-index: 99;

}

header nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

header nav a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #7F7F7F;
    transition: .3s;
    margin-left: 50%;

}

header nav li:hover a::after {
    width: 100%;
    margin-left: 0%;
}

.container {
    width: 1112px;
    max-width: 100%;
    margin: 0 auto;
}

.featuresContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    width: 1112px;
    max-width: 100%;
    margin-bottom: 78px;
    margin-top: 38px;
}

.featuresBox {
    width: 342px;
    max-width: 100%;
    min-height: 487px;
    box-shadow: 5px 0 11px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 27px;
    padding-bottom: 19px;
    background-color: #F3F3F3;
}

.boxh {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    color: #000;
}

.tcenter {
    text-align: center;
}

.boxtext {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    line-height: 121%;
    color: #000;
}

.boxpic {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    width: 1139px;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 63px;
    background-color: #fff;
}

.galleryContainer::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 320px;
    top: 1600px;

    z-index: -1;
    background: url('../img/11.png');
    background-repeat: no-repeat;
}

.galleryContainer::after {
    content: '';
    position: absolute;
    width: 1100px;
    height: 220px;
    top: 2250px;

    z-index: -1;
    background: url('../img/123.png');
    background-repeat: no-repeat;
}

.stoneContainer::before {
    content: '';
    position: absolute;
    width: 1170px;
    height: 220px;
    top: 3180px;

    z-index: -1;
    background: url('../img/126.png');
    background-repeat: no-repeat;
}

.stoneContainer::after {
    content: '';
    position: absolute;
    width: 1170px;
    height: 320px;
    top: 3670px;
    z-index: -1;
    background: url('../img/127.png');
    background-repeat: no-repeat;
}

.galleryImg {
    border-radius: 7px;
    width: 363px;
    height: 276px;
}

.bt {
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 121%;
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    background: #000;
    margin: 0 auto;
}

.w555 {
    width: 555px;
}

.w360 {
    width: 360px;
}

.w295 {
    width: 290px;
    padding: 0 2px;
}

.w432 {
    width: 432px;
}

.sColumn {
    display: flex;
    flex-direction: column;
}

.servicesContainer {
    width: 1149px;
    max-width: 100%;
    min-height: 604px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;
}

.serviceshead {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 12px;
}

.sermleft {
    margin-left: 68px;
}

.sermleft12 {
    margin-left: 12px;
}

.servicesBox {
    width: 363px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.servImg {
    border-radius: 7px;
    width: 365px;
    height: 276px;
}

.num {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 90px;
    color: #000;
    text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.stoneContainer {
    gap: 20px;
    width: 1138px;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;
    margin-top: 48px;
}

.stoneBox {
    max-width: 100%;
    width: 258px;
    height: 268px;
    text-align: center;
}

.stoneImg {
    max-width: 100%;
    width: 258px;
    height: 225px;
    border-radius: 15px;
}

.stoneText {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 17px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000;
}

.newsContainer {
    gap: 20px;
    width: 1038px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;
    flex-direction: column;
    margin-top: 55px;
}

.newsSpan {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    display: flex;
    width: 200px;
    max-width: 100%;
    min-height: 86px;

}

.newsh {
    display: flex;
}

.newstext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 108%;
    color: #000;
    margin-right: 38px;

}

.newsBox {
    width: 1038px;
    max-width: 100%;
    display: flex;

}

.newsImg {
    display: flex;
    align-items: start;
}

.partnersContainer {
    display: flex;
    justify-content: center;
    width: 1112px;
    max-width: 100%;
    flex-wrap: wrap;
}

.feedBackContainer {
    width: 1097px;
    max-width: 100%;
    min-height: 513px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background: url('../img/124.png');
    background-repeat: no-repeat;
    background-size: 1200px;
}

#reviews-r {
    width: 1097px;
    max-width: 100%;
    min-height: 513px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background: url('../img/125.png');
    background-repeat: no-repeat;
    background-size: 1200px;
}

.feedForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 634px;
    max-width: 100%;
    margin-top: 70px;
}

.feedPolya {
    gap: 59px;

    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.feedPole {
    border: 1px solid #c4c4c4;
    border-radius: 50px;
    width: 432px;
    height: 55px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 300;
    color: #c4c4c4;
    padding: 21px;
}

.feedh {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
}

.feedText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #000;
    width: 614px;
}

footer {
    background: #000;
}

.footer {
    display: flex;
    width: 767px;
    max-width: 100%;
    justify-content: space-between;
    background: #000;
    margin: 0 auto;
    padding-top: 46px;
}

.footerAddress {
    width: 500px;
    max-width: 100%;
    display: flex;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    margin-top: 14px;
}

.addrSpan {
    display: flex;
    flex-direction: column;
}

.link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.accept {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #000;
    width: 158px;

}

.btf {
    width: 674px;
    max-width: 100%;
    gap: 44px;
    display: flex;
    flex-wrap: wrap;
}

.m0 {
    margin: 0;
}



/* отзывы */
#reviews {

    padding: 0 40px;
    cursor: pointer;
}

#reviews .review {
    width: 924px;
    max-width: 100%;
    min-height: fit-content;
    padding: 1px 5px;

    color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


#reviews .review p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 121%;
    color: #7f7f7f;
}

#reviews .swiper-slide .review {
    opacity: 0.4;
    transform: scale(0.8);
    transition: .3s;
}

#reviews .swiper-slide-active .review {
    opacity: 1;
    transform: scale(1);

}



.swiper-pagination {
    bottom: 10px !important;
}

.swiper-wrapper {
    min-height: 500px;
    padding-bottom: 50px;
}



.swiper-pagination-bullet {
    border-radius: 100%;
    stroke-width: 1px;
    border: 1px solid #5a523c;
    width: 16px;
    height: 16px;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    border-radius: 100%;
    background-color: #c4c4c4;
    width: 16px;
    height: 16px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #c4c4c4;
}

.swiperUnicBox {
    width: 391px;
    min-height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#reviews-r {

    padding: 0 40px;
    cursor: pointer;
}

#reviews-r .review {
    width: 954px;
    max-width: 100%;
    min-height: fit-content;
    padding: 1px 50px;

    color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


#reviews-r .review p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #000;
    width: 232px;
}

#reviews-r .swiper-slide .review {

    transform: scale(0.8);
    transition: .3s;
}

#reviews-r .swiper-button-next:after,
#reviews-r .swiper-button-prev:after {
    color: #7f7f7f;
    position: relative;
    top: -130px;

}

.swiperUnicBox-r {
    width: 232px;
    min-height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.swiperUnicBox-r img {
    width: 144px;
    height: 144px;
    margin: 0 auto;
}

.swiperUnicBox-r a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;

}

#reviews-r .swiper-wrapper {
    min-height: 436px;
    padding-bottom: 1px;
}

.h3cont {
    width: 540px;
    display: flex;

    margin-top: 50px;
    margin-bottom: 40px;
    align-items: center;
    gap: 25px;
}

.h3cont img {
    width: 33px;
    height: 10px;
}

.bt:hover {
    opacity: 0.7;
    cursor: pointer;
}
.newsBox img{
    height: 63px;
}